<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="@Url.Action("Index","Home")">
                        <i class="fa fa-dashboard"></i>
                        <span>Quản trị viên</span>
                    </a>
                </li>
                <li><a href=""><i class="fa fa-folder-open-o"></i>Danh mục sản phẩm</a></li>
                <li><a href=""><i class="fa fa-folder-open-o"></i>Thống kê sản phẩm</a></li>
                <li><a href="@Url.Action("Index","SanPham")"><i class="fa fa-folder-open-o"></i>Quản lý sản phẩm</a></li>
                <li><a href=""><i class="fa fa-folder-open-o"></i>Quản lý đơn hàng</a></li>
                <li><a href=""><i class="fa fa-user"></i>Quản lý khách hàng</a></li>
                <li><a href="@Url.Action("Index","User")"><i class="fa fa-user"></i>Quản lý người dùng</a></li>
                </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->